<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Group6</title>
  <meta name="description" content="Group6">
  <link rel="stylesheet" href="css/contact.css" />

</head>

<body>
  <div class="Nav-container">
        <img src="img/websitelogo.png" width="125" height="110"></a>
    <div class="Nav-bar">
      <a href="index">Home</a>
      <a href="topstreams">Top Streams</a>
      <a href="news"> News</a>
      <a class="active" href="contact">Contact</a>

    </div>
  </div>

  <div class="contactUsheader">

    <h1> About Us </h1>
    <p> This site was made for listning to your favorite streamers live while avoiding
    the potential copyright claims from Twitch. </p>

    <!-- Potential to add more info in paragraphs (make it look more professional)-->

    <h1>Contact Us</h1>
    <p> Some info</p>
    <div class="ContactUs">
      <a href="index">

      <div>
        <div class="row">
          <div class="ourInfo">
            <div class="contain" <h2> listenLIVE </h2>
              <p class="company-name">
              <p class="Address"> Address</p>
              <p> 2420 Nicolet Dr. Green Bay, WI 54311</p>
              <p> listenLIVE@gmail.com</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navlogo">
    <a href="index"><img src="img/websitelogo.png" width="65" height="50"></a>
  </div>

</body>

</html>
