<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Group6</title>

  <meta name="description" content="Group6">
  <link rel="stylesheet" href="css/topstreams.css" />

</head>

<body>
  <div class="top-streams">
    <div class="Nav-bar">
      <a href="index">Home</a>
      <a class="active" href="topstreams">Top Streams</a>
      <a href="news"> News</a>
      <a href="contact">Contact</a>
    </div>
    <h1>Top Streams</h1>
    <p> Top streams worldwide </p>
  </div>
  <div class="navlogo">
    <a href="index"><img src="img/websitelogo.png" width="65" height="50"></a>
  </div>
  </div>
</body>

</html>
