@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.news-page {
  align-content: center;
  text-align: center;
  align-items: vertical;
}


h1 {
  position: relative;
  top:40px;
}
p {
  position: relative;
  top:40px;
}

.navlogo img {
  left: 70px;
  transform: translate(-50%, 0);
  top: 0px;
  position: fixed;
}
.Twitchimg {
  vertical-align: middle;
  text-align: center;
}
.Returnalimg {
  vertical-align: middle;
  text-align: center;
}

.Nav-bar {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #1DB954;
  padding: 12px 21px;
}

.Nav-bar a {
  font-family: "UBUNTU", sans-serif;
  color: #191414;
  padding: 12px 21px;
  font-size: 24px;
  text-decoration: none;
}

.Nav-bar a:hover {
  background-color: #ffffff;
}

.Nav-bar a.active {
  color: #FFFFFF;
}

.Nav-bar a.active:hover {
  background-color: transparent;
}

.attachment-medium_large size-medium_large wp-post-image {
  position: relative;
  float: left;
}
